/* Fuente principal */



#nosotross,
#contactoss {
  scroll-margin-top: 70px; /* Ajusta según la altura real de tu header */
}

#productos 
{
  scroll-margin-top: 1px;
}

html
{
  scroll-behavior: smooth;
}

a
{
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  list-style: none;
}


h1, h2 {
  font-family: 'Alegreya', serif;
}

.container {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
.header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

nav
{
  width: 307px;
  display: flex;
  flex-wrap: nowrap;
  gap: 28px;
  justify-content: center;
}

nav a {
  margin-left: 7px;
  text-decoration: none;
  color: #000;
  font-weight: 450;
  scroll-behavior: smooth;
  
}

nav a:hover
{
  text-decoration: underline;
}

/* front */
.front {
  height: 100vh;
  padding: 100px 0 0 0;
  display: flex;
  text-align: center;
}



.front-content {
  width: 100%;
  padding-bottom: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.front h1 {
  margin-bottom: 20px;
  text-align: start;
  font-weight: 350;
  font-size: 53px;
}

.front p
{
  width: 60%;
  min-width: 76%;
  text-align: start;
  line-height: 28px;
  font-size: 14px;
}

.front-logo {
  height: 16rem;
  min-width: 50%;
  width: 352px;
}

.titulo
{
  width: 87%;
}


/* Catálogo */



/*LO DE MATI*/

.frontsecu
{
    background-color: #F3F3F3;
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frontsecu h2 
{
    font-weight: 450;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
 
.catalogo-box {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  margin-bottom: 42px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogo-box button
{
  background-color: #000;
  height: 75px;
  width: 551px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.catalogo-box button:hover 
{
  background-color: #242424;
  color: #b2adad;
  width: 580px;
  height: 85px;
  transition: 0.2s ease;
}

.catalogo-box h3 {
  font-family: 'montserrat', sans-serif;
  font-size: 35px;
  color: #fff;
}

.productos-imgs {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.producto {
  width: 140px;
  height: 140px;
  padding: 16px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #c9c8c8;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.producto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.industria {
  margin-top: 26px;
  font-size: 30px;
  color: #000;
  font-family: 'Alegreya', serif;
}

/* Nosotros */



.nosotros {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -23px;
}


.nosotros h2
{
   font-size: 44px;
   font-weight: 420;
   margin: 0;
  
}

.texto-nosotros {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

.ec-mini {
  height: 40px;

  margin-top: 20px;
}

/* Clientes */
.clientes {
  background: #f3f3f3;
  padding: 60px 0;
  text-align: center;
}

.logos-clientes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

.logos-clientes img {
  height: 100px;
}

/* Contacto */

.containercontactos
{
  background-color: #f3f3f3;
}

.contacto {
  
  text-align: center;
  background-color: #F3F3F3;
  height: 86vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.containercont
{
  width: 500px;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.logo-contacto {
  height: 229px;
  width: 302px;
}

.contacto h2 
{
  font-size: 64px;
  font-weight: 200;
  height: 44px;
}

.contacto ul {
  list-style: none;
  font-size: 18px;
  line-height: 2;
  display: flex;
  gap: 25px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: flex-start;
}

.contacto ul li
{
  background-color: #000;
  padding: 8px;
  width: 361px;
  text-align: start;
  height: 35px;
}

.ultimotitulo
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  font-size: 18px;
  background-color: #f3f3f3;
  text-align: center;
  margin: 0;
  padding:  0 0 50px 0;
  
}


/*otra forma contacto*/
.listacontactos
{
  display: flex;
  flex-direction: column;
}

.listacontactos p
{
  color: #fff;
  padding: 16px;
  background-color: #000;
  width: 291px;
}

/* Footer */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    padding: 21px 0px;
}

/* Logo y texto juntos */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    max-width: 50px;
}

.footer-logo p {
    font-weight: bold;
    color: #fff;
    margin: 0;
}

/* Links */
.footer-links {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-credit {
    font-size: 0.9rem;
    color: #bbb;
}

.footer-credit a 
{
  text-decoration: none;
  color: #bbb;
}

.footer-credit a:hover 
{
  color: #ffffff;
  transition: 0.3s ease;
}


/* Responsive */
@media (max-width: 768px) {
    
  /*Header*/

  .header-content {
    flex-direction: column;
    gap: 16px;
  }

 
  .logos-clientes {
    flex-direction: column;
    align-items: center;
  }

  /*Front principal*/

  

  .front h1 {
    font-size: 2rem;
  }

  .front
  {
    padding: 34px 0 0 0;
    align-items: center;
  }

  .front-content
  {
    display: flex;
    gap: 59px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }

  .titulo
  {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo h1
  {
    text-align: center;
    font-size: 42px;
  }

  .titulo p
  {
    text-align: center;
    min-width: 326px;
  }

  .logoprinc
  {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
  }

  .logoprinc img
  {
    min-width: 150px;
    width: 120px;
    height: 100px;
  }

  
  /*Nosotros*/

  .texto-nosotros {
  max-width: 500px;
  margin: 20px auto;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  } 
  .nosotros
  {
    margin-top: 106px;
  }

  #nosotross
  {
    scroll-margin-top: 110px;
  }

  /*Contactos*/

 
  
 .containercontactos
  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }

  .contacto
  {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
  }

  .containercont
  {
    width: 100%;
  }

  .contacto h2
  {
    font-size: 55px;
  }

  .logo-contacto
  {
    width: 252px;
    height: 211px;
  }


  .contacto ul 
  {
    
    align-items: center;
    width: 301px;

  }

  .contacto ul li 
  {
    text-align: center;
    width: 258px;

  }
 
}


@media (max-width: 596px)
{

    .frontsecu
    {
      justify-content: flex-end;
    }


    /*NOSOTROS*/

    .nosotros{

      margin-top: 20px;

    }


    .texto-nosotros
    {
      margin: 19px auto;
      max-width: 340px;
      font-size: 14px;
    }

    .ec-mini 
    {
      height: 40px;
      margin-top: 5px;
    }


    #nosotross
    {
      scroll-margin-top: 100px;
    }

    /*Catalogo*/
    
    .catalogo-box button 
    {
      width: 290px;
    }
    .catalogo-box h3 
    {
      font-size: 25px;
    }



    /*CONTACTO*/
    .logo-contacto
    {
      width: 210px;
      height: 163px;
    }

    
}
    
@media (max-width: 400px) {

   .front-content
   {
     gap: 0px;
     padding-top: 62px;
   }

   .titulo h2
   {
     font-size: 37px;
   }

   .titulo p 
   {
     font-size: 14px;
   }

  


/*Catalogo*/

   #productoss
   {
    scroll-margin-top: 120px;
   }

   .frontsecu
   {
    justify-content: flex-end;
    padding-top: 80px;
   }

   .producto
   {
     width: 115px;
     height: 108px;
   }
   
    .productos-imgs 
   {
     width: 166px;
   }

   .industria 
   {
     font-size: 24px;
   }


   .catalogo-box h3 
   {
    font-size: 20px;
   }
   

   /*Nosotros*/

   .nosotros h2 
   {
     padding-top: 180px;
   }


   /*Contactos*/

   .listacontactos p 
   {
     width: 230px;
   }

   .containercontactos
   {
     margin-top: 138px;
   }

}
